html, body {
	margin: 20px;
	padding: 0;
	display: flex;
	background-color: white;
	justify-content: center;
	align-items: center;
	font-family: Arial; 
	font-size: 30;
}
.quiz {
	display: flex;
	height: 850px;
	width: 715px;
	flex-direction: column;	
	justify-content: center;
	align-items: center;
}
#state {
	display: flex;
	height: 60%;
	width: inherit;
	flex-direction: column;
}
#graphic {
	display: flex;
	width: inherit;
	height: 85%;
}
#flag {
	display: flex;
	width: 100%;
}
#question {
	display: flex;
	flex-direction: column;
    justify-content: center;
	align-items: center;
	font: inherit;
	font-size: inherit;
	margin-top: 30px;
}
#input {
	display: flex;
	height: 30%;
	width: inherit;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}
#choices, #navigationButtons {
	display: flex;
	width: inherit;
	height: 50%;
    justify-content: inherit;
	align-items: flex-start;
	flex-wrap: wrap;
	margin-top: 3%;
}
button {
    width: 49.5%;
    height: 44%;
	display: flex;
    justify-content: center;
	border: 2px solid grey;
	margin: 0px;
	font-size: inherit;
}
.choice {
	background-color: rgb(230, 230, 230);
}
.button {
	background-color: rgb(169, 183, 214)
}
.choice:hover, .button:hover {
	background-color: rgb(170, 170, 170);
	cursor: pointer;
}
button:focus {
	background-color: rgb(185, 185, 185);
	outline: 0;
}
button[correct=true] {
	background-color: #a8d8a8;
}
button[correct=false] {
	background-color: #da9494;
}
#progress {
	display: flex;
	height: 10%;
	width: inherit;
	justify-content: center;
	align-items: center;
}
#startAndEnd {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}
#start {
	justify-content: inherit;
	align-items: center;
	height: 60%;
	margin-top: 30px;
}
#intro {
	display: flex;
}
